/* --------------------------------------------------- Information Pages Styling */
.alternateCol {
    background: #e5e5e5;
    /* padding: 12px 16px 0 0; */
    width: 100%;
}
.imageCol { padding: 0; }

/* .textCol {} */


/* ----------- 372px x 156px -- Image Box Sizes ----------- */

.speakerCredit { margin-top: 26px; }
.furtherReading { margin-bottom: 26px; }
.speakerCredit, .furtherReading { font-size: .8em; }