/* Setting a container width to overwrite bootstrap standard */

 /* --- COLOR GREY ---- #191919 ---  */
 /* --- COLOR SAND ---- #dfcfab ---  */

.container {
    max-width: 96%;
    margin: 0 auto;
}


/* --------------------------------------------------- Navbar */
.navbar { 
    flex-direction: row;
    align-items: start;
    padding: .2em 0 0 0;
 }

 .navbar-nav { 
    position: relative;
    z-index: 99;
    background: #fff;
}

.navbar-bg { background: #fff; }

.navbar-brand:hover { color: #dfcfab; }
.navbar-brand {
    font-weight: 600;
    font-size: 1.35em;
    color: #191919;
    padding-bottom: 0;
}
.who-strapline { 
    font-size: .6em;
    margin-top: -5px; 
}

.nav-links {
    position: absolute;
    right: 0;
    margin: 9px 0;
}

.nav-link { color: #191919; }

.nav-link:hover { color: #dfcfab; }

.active { color: #454636; }

/* ------------------- Mobile bars icon -------------- */
.navbar-toggler { 
    padding: 0;
}
.navbar-toggler-icon {     
    display: flex;
    height: 5px;
}
.fa-bars { 
    color: #191919;
    font-size: 1em;
    margin-top: 5px;
}




/* ========= Media Queries ========== */

/* ========= Tablet Portrait ========== */
@media screen and (min-width: 768px) {}

/* ========= Tablet Landscape ========== */
@media screen and (min-width: 992px) {
    .navbar {  flex-direction: column; }
    .navbar-brand { font-size: 1.6em; }
    .who-strapline { 
        font-size: 0.71em;
        margin-top: -4px;
    }
}

/* ========= Laptop ========== */
@media screen and (min-width: 1200px) {}

/* ========= Desktop ========== */
@media screen and (min-width: 1400px) {


}

/* --------------------------------------------------- BANNER IMAGE */
 img { 
    width: 100%;
    height: 100%;
} 


.welcoming-open-text { 
    margin: 20px auto;
    width: 80%;
}




/* --------------------------------------------------- CAMPAIGNS SECTION */
.campaigns-covered { 
    background: #191919; 
    color: #fff;
    padding: 20px 20px 40px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.campaigns-covered-images {
    height: 100%;
    width: 100%;
    border-radius: 90%;

}


/* --------------------------------------------------- TEXT UNDER CAMPAIGNS SECTION */
h3, p { text-align: center;}



/* Home Page */