/* Setting a container width to overwrite bootstrap standard */

 /* --- COLOR GREY ---- #191919 ---  */
 /* --- COLOR SAND ---- #dfcfab ---  */

.container {
    max-width: 96%;
    margin: 0 auto;
}


/* --------------------------------------------------- Navbar */
.navbar { 
    flex-direction: column;
    align-items: start;
    padding: .2em 0 0 0;
 }

.navbar-bg { background: #fff; }

.navbar-brand {
    font-weight: 600;
    font-size: 1.6em;
    color: #191919;
    padding-bottom: 0;
}

p {
    font-size: 0.71em;
    margin-top: -4px;
}

.navbar-brand:hover { color: #dfcfab; }

.nav-links {
    position: absolute;
    right: 0;
    margin: 9px 0;
}

.nav-link { color: #191919; }

.nav-link:hover { color: #dfcfab; }

.active { color: #454636; }

.fa-bars { color: #191919;}


/* --------------------------------------------------- BANNER IMAGE */
img { 
    width: 100%;  
    /* margin-top: 50px; */
    height: 45%;
    object-fit: cover;
    object-position: center;
}







/* --------------------------------------------------- CAMPAIGNS SECTION */
.campaigns-covered { 
    background: #191919; 
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}


/* --------------------------------------------------- TEXT UNDER CAMPAIGNS SECTION */
h3, p { text-align: center;}



/* Home Page */